<section class="registration">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <h1 class="title">U.A. High School Registration</h1>
    <div class="form-content">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="model.name"
          name="name"
          #name="ngModel"
        />
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Hero Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="heroName">Hero Name</label>
        <input
          type="text"
          class="form-control"
          id="heroName"
          [(ngModel)]="model.heroName"
          name="heroName"
        />
      </div>

      <div class="form-group">
        <label for="power">Hero Quirk</label>
        <select
          class="form-control"
          id="power"
          required
          [(ngModel)]="model.power"
          name="power"
          #power="ngModel"
        >
          <option *ngFor="let pow of powers" [value]="pow">{{ pow }}</option>
        </select>
        <div
          [hidden]="power.valid || power.pristine"
          class="alert alert-danger"
        >
          Quirk is required
        </div>
      </div>
      <div class="button-container">
        <button
          type="button"
          class="btn btn-default"
          (click)="newHero(); heroForm.reset()"
        >
          New Hero
        </button>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!heroForm.form.valid"
        >
          Submit
        </button>
      </div>
      <div [hidden]="!submitted" class="submit-details">
        <h2 class="welcome">Welcome to U.A. High School</h2>
        <h2 class="welcome">{{ model.name }}!</h2>
        <h2 class="details-message">You submitted the following details:</h2>
        <div class="details-container">
          <div class="details">
            <div class="hero-detail">
              <div class="">Name:</div>
              <div class="hero-model">{{ model.name }}</div>
            </div>
            <div class="hero-detail">
              <div class="">Hero Name:</div>
              <div class="hero-model">{{ model.heroName }}</div>
            </div>
            <div class="hero-detail">
              <div class="">Quirk:</div>
              <div class="hero-model">{{ model.power }}</div>
            </div>
          </div>
        </div>
        <div class="edit-button">
          <button
            type="button"
            class="btn btn-primary"
            (click)="submitted = false"
          >
            Edit Details
          </button>
        </div>
        <br />
      </div>
    </div>
  </form>
</section>
